div #player1{
  height: 300px;
  border: solid yellow;
  border-radius: 15px;
  background-color:black;
  font-family: 'Lobster Two', cursive;
  color: azure;
}
div #player2{
  height: 300px;
  border: solid yellow;
  border-radius: 15px;
  background-color: black;
  font-family: 'Lobster Two', cursive;
  color: azure;
}
div #name1{
  padding: 30px;
}
div #name2{
  padding: 30px;
}
div #displayTotal1{
  border: solid yellow;
  border-bottom-right-radius: 15px;
  background-color: black;
  color: cornflowerblue;
  padding: 10px;
  font-family: 'Lobster Two', cursive;
}
div #displayTotal2{
  border: solid yellow;
  border-bottom-right-radius: 15px;
  background-color: black;
  color: cornflowerblue;
  padding: 10px;
  font-family: 'Lobster Two', cursive;
}
#header{
  width: 100%;
  height: 100px;
  background-color: black;
  font-family:'Lobster Two', cursive;
  border: solid yellow;
  color: azure;

}
div #gamerules{
  color: cornflowerblue;
  font-size: 25px;
  border-style: inset;
  background-color:black;
  font-family:'Great Vibes', cursive;
}
.player2{
  color: cornflowerblue;
}
#scoreboard1{
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
  font-family:'Great Vibes', cursive;
  text-align: center;
  padding-top: 20px;
  border-radius: 15px;
}
#scoreboard2{
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
  font-family:'Great Vibes', cursive;
  text-align: center;
  padding-top: 20px;
  border-radius: 15px;
}