
h1{
  color: blue;
}
div #player1{
  height: 300px;
  border: solid blue;
  border-radius: 15px;
  background-color:black;
  font-family: 'Lobster Two', cursive;
}
div #player2{
  height: 300px;
  border: solid blue;
  border-radius: 15px;
  background-color: black;
  font-family: 'Lobster Two', cursive;
}
div #name1{
  padding: 30px;
}
div #name2{
  padding: 30px;
}
div #score1{
  border: solid blue;
  border-bottom-right-radius: 15px;
  background-color: black;
  color: cornflowerblue;
  padding: 10px;
  font-family: 'Lobster Two', cursive;
}
div #score2{
  border: solid blue;
  border-bottom-right-radius: 15px;
  background-color: black;
  color: cornflowerblue;
  padding: 10px;
  font-family: 'Lobster Two', cursive;
}
#header{
  width: 100%;
  height: 100px;
  background-color: blue;
  font-family:'Lobster Two', cursive;
}
div #gamerules{
  color: cornflowerblue;
  font-size: 25px;
  border-style: inset;
  background-color:black;
  font-family:'Great Vibes', cursive;
}
.player2{
  color: cornflowerblue;
}